.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #98FB98;
  margin: 0px auto;
  padding: 20px 0px;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #008000;
  color: floralwhite;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark {
  background-color: #006400;
}

.carousel {
  background: #006400;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
.modal-header
{
  background-color: #008000;
  color: floralwhite;
}
.modal-body
{
  background-color: #98FB98;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  float: left;
  width: 50%;
}
.signupbtn{
  padding: 14px 20px;
  background-color: #008000;
  float: left;
  width: 50%;
}
.texts{
  width:350px;
}
.logincancel{
  background-color: #f44336;
}
.login{
  background-color: #008000;
}
.btnsignup{
  background-color:#4BB74C;
}
.district
{
  align-self:center;
}
